.paints-container {
    padding: 2rem;
    text-align: center;
  }

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Always 4 columns */
    gap: 2rem;
    padding: 2rem;
  }